form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h3{
    font-weight: 800;
}

label{
    padding-bottom: .5rem;
    font-weight: 500;
}

input, select, textarea{
    width: 100%;
    padding: .5rem;
    outline: none;
    background-color: #fff;
    border: 1px solid #777;
    border-radius: .5rem;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;


}

textarea{
    height: 150px;
}

